@import "../../../Root.css";

.GenreMainMobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: 768px) {
    display: none;
  }
}

.DescriptionGenreMobile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.DescriptionGenreMobile > h3 {
  color: var(--TextColorRoot);
  text-align: center;
}
